* {
    font-family: 'SUIT';
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.searchbar {

    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

#category {
    height: 40px;
    border-radius: 4px;
    margin-right: 10px;

}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    position: relative;
    width: 100%;
    padding: 0 20px 0;
}

section .title {
    width: 760px;
    text-align: center;
    margin: 0 auto 0;
}

section .title h2 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

section .title p {
    font-size: 14px;
    line-height: 24px;
    font-family: Helvetica, Arial, sans-serif;
    color: #8c979e;
    margin-bottom: 20px;
}

section .row {
    margin: 20px 90px 20px 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

section .team-intro {
    width: 200px;
    text-align: center;
}

section .team-intro img {
    width: 150px;
    height: 150px;
    border: 7px solid #fff;
    border-radius: 50%;

    margin-bottom: 25px;
}

section .team-intro h3 {
    margin-bottom: 15px;
}

section .team-intro p {
    line-height: 24px;
}

section#photo {
    padding-bottom: 100px;
}

.col {
    margin-bottom: 20px;
}

.card-shadow-sm {
    height: 1000px;

}

.card-body {
    height: 160px;
    position: relative;

}

.card-name {
    color: #8c979e;
}

.tag-bar {
    bottom: 0;
    position: absolute;
}

.tags {
    float: left;
    text-align: left;
    width: 265px;

}


.dday {
    float: right;
    text-align: right;
    width: 30px;

}

.option {
    border-radius: 2px;
}

