html,
body {
    height: 100%;
}

.sign-up-table{
    border-radius: 7px;
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #DCEBF1;
    width: 500px;
    height: 350px;
}
.signup-center{

    margin-top: 100px;
    margin-left: 750px;
    margin-right: 50%;
    margin-bottom: 400px;
}

.table{
    text-align: center;
}

.button_space{
    text-align: center;
    margin-bottom: 20px;
}

.signup{
    text-align: center;
}

.title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.id, .pw {
    margin-left: 100px;
}
.Login-button{
    margin-top: 10px;
    width: 200px;
    height: 40px;
    border-radius: 6px;
    border-color: #3579f6;
    background-color: #3579f6;
    color: white;
}